body {
    background-color: #a2bfc7;
    font-family: 'Noto Sans TC', sans-serif;;
}
header {
    text-align: center;
}
header h1 {
    font-size: 80px;
}
footer {
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 60px;
    position: fixed;
    width: 100%;
}
footer button {
    background-color: #1e3140;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 80px;
    padding: 35px 50px;
}
footer button:hover {
    background-color: #000000;
}
img {
    margin-top: 60px;
}

#modal {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
    animation: fadeIn 0.4s;
}
#modal button {
    background-color: #1e3140;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 5px;
    padding: 25px 105px 25px 110px;
    margin: 25px;
}
#modal .button-group {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-bottom: 50px;
    width: 100%;
}
#modal h1 {
    color: #7a8e95;
    font-size: 70px;
    letter-spacing: 15px;
}
#modal span {
    color: #ffffff;
    cursor: pointer;
    font-size: 80px;
    font-weight: bold;
    top: 40px;
    right: 60px;
    position: absolute;
}
#modal #add-item {
    background-color: #dcaa89;
    font-size: 60px;
    padding: 0;
    width: 90%;
}
.modal-content {
    background-color: #e5ded4;
    bottom: 0;
    border-radius: 150px 150px 0 0;
    height: 95%;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    animation: slideIn 0.4s;
}
.input-group input, textarea {
    border: none;
    border-radius: 30px;
    font-size: 30px;
    flex-grow: 1;
    height: 70px;
    margin: 10px 0 10px 25px;
    padding-left: 20px;
}
.input-group textarea {
    height: 100px;
    padding-top: 20px;
}
.modal-form .input-group {
    align-items: center;
    display: flex;
    font-size: 30px;
    padding: 5px 50px;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}