html {
    font-size: 10px;
}
body {
    background-color: #a2bfc7;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
button {
    cursor: pointer;
}
button:focus {
    outline: none;
}
header {
    text-align: center;
}
footer {
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 2.5rem;
    position: fixed;
    width: 100%;
}
footer button {
    background-color: #1e3140;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    line-height: 1;
    font-size: 4rem;
    font-weight: 900;
    padding: 1rem 1.4rem 0.8rem;
}
footer button:hover {
    background-color: #000000;
}
img {
    margin-top: 2.5rem;
}

/* modal styles */
.modal {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.modal button {
    background-color: #1e3140;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    padding: 1rem 12% 1rem calc(12% + 0.3rem);
    margin: 0.8rem 0;
}
.modal .button-group {
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    width: calc(100vw - 3rem);
}
.modal h1 {
    color: #7a8e95;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}
.modal span {
    color: #ffffff;
    cursor: pointer;
    font-size: 3rem;
    top: calc(5% + 2rem);
    right: 1.5rem;
    position: absolute;
    animation: slideInBottom 0.4s;
    z-index: 1;
}
.modal #previous-page {
    right: auto;
    left: 1.5rem;
    display: none;
}
.modal #add-item {
    background-color: #dcaa89;
    font-size: 2rem;
    padding: 0.2rem 0 0 0;
    margin-top: 0.5rem;
    width: calc(100vw - 3rem);
}
.modal-content {
    background-color: #e5ded4;
    bottom: 0;
    border-radius: 50px 50px 0 0;
    height: 95%;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    animation: slideInBottom 0.4s;
}
.modal-form {
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 20rem);
    -webkit-overflow-scrolling: touch;
}
.input-group input, textarea {
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-family: inherit;
    flex-grow: 1;
    height: 2.5rem;
    margin: 0.2rem 0 0.2rem 0.8rem;
    min-width: 0;
    padding: 0 1rem;
}
.input-group textarea {
    height: 5rem;
    padding: 0.5rem 1rem;
}
.input-group label {
    flex-shrink: 0;
}
.modal-form .input-group {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0.5rem 1.5rem;
}
.item-group {
    background-color: #dcaa89;
    border-radius: 20px;
    margin: 0.5rem 1.5rem 0;
    padding: 0.5rem 0;
}
.item-group .toggle-group {
    display: flex;
    margin-left: 0.8rem;
}
.item-group .input-group {
    padding: 0.5rem 1rem;
}
.item-group input[type="radio"] {
    position: absolute;
    left: -100px;
}
.item-group input[type="radio"]:checked + span {
    background-color: #7A8E95;
}
.item-group label span {
    background-color: #b5c0c4;
    border-radius: 20px;
    font-size: 1.4rem;
    text-align: center;
    position: initial;
    padding: 0.5rem 0.8rem;
    margin: 0 0.2rem 0 0;
}
.input-range {
    display: flex;
    align-items: center;
    flex: 1;
}
.input-range input {
    padding-right: 0;
    margin-left: 0.1rem;
}
.input-range output {
    font-size: 1rem;
    font-weight: 400;
    min-width: 2rem;
    margin-left: 0.1rem;
}

/* post page styles */
.posts {
    height: calc(100vh - 28rem);
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.post-div {
    background-color: #e5ded4;
    border-radius: 35px;
    display: flex;
    margin: 0.8rem 2rem;
    min-height: 6rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}
.post-div button {
    border: none;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.8rem;
    margin: 0.2rem;
}
.post-div h4 {
    color: #848484;
    font-weight: 400;
    margin: 1.2rem 0 0 2rem;
}
.post-div h3 {
    margin: 0 0 1.2rem 2rem;
}
.post-div .copy-post {
    background-color: #7A8E95;
    padding: 1.2rem 1.1rem 1.2rem 1.2rem;
    letter-spacing: 0.1rem;
}
.post-div .del-post {
    background-color: #BB8758;
    padding: 1.2rem 1.8rem;
}

/* preview page styles */
.modal-preview {
    background-color: #e5ded4;
    bottom: 0;
    border-radius: 50px 50px 0 0;
    display: none;
    height: calc(95% - 6rem);
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.modal-preview .copy-post {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.preview-box {
    background-color: #ffffff;
    border-radius: 20px;
    height: calc(95% - 10rem);
    margin: 3rem 1.5rem 0;
    overflow-y: scroll;
}
.preview-content {
    padding: 0.3rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/* alert at bottom page */
.alert {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    z-index: 99;
    position: relative;
    margin: 2rem;
    padding: 1.5rem;
    display: none;
}

/* animations */
@keyframes slideInBottom {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }
}
@-webkit-keyframes slideInBottom {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }
}